html {
  margin: 0;
  padding: 0; }

  body {
    color: #050505;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: #fffafe;
    overflow: auto; }

    .sidebar-toc {
      position: relative;
      height: 100%;
      margin-top: 1em;
      overflow: hidden; }
      .sidebar-toc:hover {
        transition: auto;
        overflow: scroll; }
        .sidebar-toc ul {
          margin: 0;
          padding: 0; }
          .sidebar-toc #toc-link-to-current-page {
            background: #fffafe;
            -webkit-box-shadow: inset -1px 2px 3px 0px #31231e;
            -moz-box-shadow: inset -1px 2px 3px 0px #31231e;
            box-shadow: inset -1px 2px 3px 0px #31231e;
            padding-top: 0.25em;
            padding-bottom: 0.25em;
            padding-left: 0.5em; }
            .sidebar-toc #toc-link-to-current-page a {
              color: #1f427f; }

.inherited {
  display: none; }

  #page-wrapper {
    max-width: 60em;
    padding: 5em;
    margin: auto;
    position: relative;
    background: #fffafe;
    border-left: 1px solid #31231e;
    border-bottom: 1px solid #31231e;
    -webkit-box-shadow: -1px 1px 5px 0px #31231e;
    -moz-box-shadow: -1px 1px 5px 0px #31231e;
    box-shadow: -1px 1px 5px 0px #31231e; }

    #sidebar {
      width: 225px;
      position: fixed;
      top: 0;
      left: 0;
      background: #1f427f;
      height: 100%;
      padding: 1em;
      border-right: 1px solid #31231e;
      color: #fffafe;
      -webkit-box-shadow: 2px 1px 3px 0px #31231e;
      -moz-box-shadow: 2px 1px 3px 0px #31231e;
      box-shadow: 2px 1px 3px 0px #31231e; }
      #sidebar h3 {
        margin-top: 0;
        margin-bottom: 1em; }
        #sidebar a {
          color: #fffafe; }
          #sidebar ul {
            padding: 0.5em;
            list-style: none; }

#sidebar-crook {
  width: 500px;
  position: fixed;
  top: 0;
  left: 225px;
  z-index: -1;
  background: linear-gradient(135deg, #9055a2 300px, transparent 0) top left;
  height: 100%; }

  #site-search {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 25px; }
    #site-search input {
      margin: auto;
      min-width: 0; }
      #site-search .submit-button {
        min-width: auto; }

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 70px;
  font-style: italic;
  font-weight: bold;
  color: #1f427f; }

  .module > h1, .package > h1 {
    margin: 0; }

    h2 {
      color: #31231e;
      font-size: 35px; }

      a {
        color: #1f427f; }

        code {
          background: #f1efef;
          z-index: -1; }

          pre > code {
            padding: 1em;
            margin: 1em 0 1em 1em;
            background: #faf5f5;
            -webkit-box-shadow: inset -1px 2px 3px 0px rgba(49, 35, 30, 0.3);
            -moz-box-shadow: inset -1px 2px 3px 0px rgba(49, 35, 30, 0.3);
            box-shadow: inset -1px 2px 3px 0px rgba(49, 35, 30, 0.3);
            font-family: 'Source Code Pro', monospace;
            font-size: 13px; }

            .class-name {
              font-size: 40px;
              font-weight: bold; }

              .important-name {
                font-size: 20px;
                font-weight: bold; }

                .class {
                  padding-left: 1em; }

                  .major-section-title {
                    font-family: 'Vollkorn', serif;
                    font-style: italic;
                    font-weight: bold;
                    color: #31231e; }

                    .module > .major-section-title {
                      font-size: 40px; }

                      .class > .major-section-title {
                        font-size: 35px;
                        text-align: right; }

                        .class > .inherited > .major-section-title {
                          font-size: 20px;
                          text-align: right; }

                          .method {
                            padding-left: 1em;
                            padding-bottom: 1em;
                            padding-top: 1em;
                            margin-bottom: 0; }
                            .method > .body {
                              padding-left: 1em; }

.property, attribute {
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 0; }
  .property > .body, attribute > .body {
    padding-left: 1em; }

.type-details-list {
  padding-left: 4em;
  text-indent: -3em; }
  .type-details-list ul {
    padding-left: 0;
    text-indent: 0; }

.permalink-and-source {
  float: right;
  transform: translateX(1em);
  transition: all 200ms linear; }
  .permalink-and-source > a {
    color: transparent;
    transition: all 200ms linear; }

.class > .class-name-wrapper > h2 {
  overflow: hidden; }

  .class:hover > .class-name-wrapper > .permalink-and-source {
    transform: translateX(0); }
    .class:hover > .class-name-wrapper > .permalink-and-source > a {
      color: #1f427f; }

.method:hover .permalink-and-source, .attribute:hover .permalink-and-source,
.property:hover .permalink-and-source {
  transform: translateX(0); }
  .method:hover .permalink-and-source > a,
  .attribute:hover .permalink-and-source > a,
  .property:hover .permalink-and-source > a {
    color: #1f427f; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42; }

  .hljs-comment, .hljs-quote {
    color: #a0a1a7;
    font-style: italic; }

    .hljs-doctag, .hljs-keyword, .hljs-formula {
      color: #a626a4; }

      .hljs-section, .hljs-name, .hljs-selector-tag, .hljs-deletion, .hljs-subst {
        color: #e45649; }

        .hljs-literal {
          color: #0184bb; }

          .hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string {
            color: #50a14f; }

            .hljs-built_in, .hljs-class .hljs-title {
              color: #c18401; }

              .hljs-attr, .hljs-variable, .hljs-template-variable, .hljs-type,
              .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-number {
                color: #986801; }

                .hljs-symbol, .hljs-bullet, .hljs-link, .hljs-meta, .hljs-selector-id,
                .hljs-title {
                  color: #4078f2; }

                  .hljs-emphasis {
                    font-style: italic; }

                    .hljs-strong {
                      font-weight: bold; }

                      .hljs-link {
                        text-decoration: underline; }
